@page "/"

@using BlazorPokedexCourse.Models
@using BlazorPokedexCourse.Services
@inject IPokeApiClient _pokeApiClient

<h3 class="text-center">Pokedex</h3>

<div>
    <div class="row">
        <div class="col">
            <Pagination MetaData="_paginationMetaData" Spread="3" SelectedPage="SelectedPage" />
        </div>
    </div>

    <PokemonGrid Pokemons="_pokemons" NumberOfRows="4" />
</div>

@code {

    private IEnumerable<Pokemon>? _pokemons;
    private PaginationMetaData _paginationMetaData = new();
    private PaginationParameters _paginationParameters = new();

    protected override async Task OnInitializedAsync() =>
        await GetPokemons();

    private async Task SelectedPage(int page)
    {
        _paginationParameters.PageNumber = page;
        await GetPokemons();
    }

    private async Task GetPokemons()
    {
        var pokemons = new List<Pokemon>();
        var result = await _pokeApiClient.GetAllPokemons(_paginationParameters);
        foreach (var pokemon in result.Pokemons)
            pokemons.Add(await _pokeApiClient.GetPokemon(pokemon.Name));
        _pokemons = pokemons;
        _paginationMetaData.TotalCount = result.Count;
        _paginationMetaData.TotalPages = _paginationMetaData.TotalCount / _paginationParameters.PageSize;
        StateHasChanged();
    }
    

}
